@model Hqub.MusicBrainz.API.Entities.Artist

@{
    ViewData["Title"] = "Artist";
}

<h1>Singer/Artist</h1>
<div class="alert-danger">@ViewData["error"]</div>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            <span class="badge badge-success">@Model.Type</span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            Band Members
        </dt>
        <dd class="col-sm-10">
            @{
                var members = Model.Relations.Where(r => r.TargetType == "artist" && r.Type.Contains("member"));
                <ul>
                    @foreach (var relation in members.Where(r => !(bool)r.Ended))
                    {
                        <li><a href="~/Music/Singers?name=@relation.Artist.Name">@relation.Artist.Name</a></li>
                    }
                </ul>
            }
        </dd>
        <dt class="col-sm-2">
            Lifespan
        </dt>
        <dd class="col-sm-10">
            @Model.LifeSpan.Begin <text> - </text> @if (@Model.LifeSpan.End == null)
            {<text>present</text>}
        else
        {@Model.LifeSpan.End}
        </dd>
        <dt class="col-sm-2">
            Lyrics
        </dt>
        <dd class="col-sm-10">
            @{ var lyrics = Model.Relations.Where(r => r.TargetType == "url" && r.Type == "lyrics");

                if (lyrics.Count() > 0)
                {
                    <p>You can find lyrics for @Model.Name</p>

                    <ul>
                        @foreach (var relation in lyrics)
                        {
                            <li><a href="@relation.Url.Resource" target="_blank">@relation.Url.Resource</a> </li>
                        }
                    </ul>
                }
            }

        </dd>
        <dt class="col-sm-2">
           Songs
        </dt>
        <dd class="col-sm-10">
            @{ 
                if (!(Model.Works == null))
                {

                    <ul>
                        @foreach (var w in Model.Works)
                        {
                            <li><a href="~/Music/Songs?name=@w.Title" target="_blank">@w.Title</a></li>
                        }
                    </ul>
                }
                
            }

        </dd>
    </dl>
</div>
<div>
    <a href='javascript:history.go(-1)'>Return to search results</a>
</div>

