@model Hqub.MusicBrainz.API.Entities.Recording

@{
    ViewData["Title"] = "Song";
}

<h1>Song</h1>
<div class="alert-danger">@ViewData["error"]</div>
<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Artist
        </dt>
        <dd class="col-sm-10">

            @foreach (var a in Model.Credits)
            {
                <a href="/music/singer/@a.Artist.Id">@a.Name</a>
            }
        </dd>
        <dt class="col-sm-2">
            Details
        </dt>
        <dd class="col-sm-10">
            @Model.Disambiguation
        </dd>
        <dt class="col-sm-2">
            Lyrics
        </dt>
        <dd class="col-sm-10">
            <a href="https://search.azlyrics.com/search.php?q=@Model.Title" target="_blank">Get Lyrics</a>
        </dd>
        <dt class="col-sm-2">
            Length
        </dt>
        <dd class="col-sm-10">

            @{
                if (!(Model.Length == null))
                {
                    var length = TimeSpan.FromMilliseconds((int)Model.Length).ToString(@"mm\:ss");
                    <span>@length <text>Minuets</text></span>
                }
                else
                {
                    <span><text>Not Available</text></span>
                }
            }
        </dd>
        <dt class="col-sm-2">
            Album Art
        </dt>
        <dd class="col-sm-10">
            @foreach (var t in Model.Releases)
            {
                {
                    var imageUrl = Hqub.MusicBrainz.API.Entities.CoverArtArchive.GetCoverArtUri(t.Id);
                    <img height="100" width="100" src=@imageUrl onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';" />

                }
            }
        </dd>
        <dt class="col-sm-2">
            Tags
        </dt>
        <dd class="col-sm-10">

            @if (!(@Model.Tags == null))
            {
                @foreach (var t in Model.Tags)
                {
                    <span class="badge badge-primary">@t.Name</span>
                }
            }
            else
            {
                <span>None Available</span>
            }

        </dd>
    </dl>
</div>
<div>
    <a href='javascript:history.go(-1)'>Return to search results</a>
</div>

