@model Hqub.MusicBrainz.API.Entities.Recording

@{
    ViewData["Title"] = "Song";
}

<h1>Song</h1>
<div class="alert-danger">@ViewData["error"]</div>
<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">

        </dt>
        <dd class = "col-sm-10">

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Artist
        </dt>
        <dd class="col-sm-10">
  
            @foreach (var a in Model.Credits)
            {
                <a href="/music/singer/@a.Artist.Id">@a.Name</a>
            }
        </dd>
        <dt class = "col-sm-2">
            Length
        </dt>
        <dd class = "col-sm-10">
            
            @{ @*var length = Model.Length;
                Double dblen;
                Double.TryParse(length.ToString(), out dblen);
                var x = TimeSpan.FromMilliseconds(dblen).TotalMinutes;
                var lengthInMIn = Math.Round(x, 2);*@
                var length = TimeSpan.FromMilliseconds((int)Model.Length);
                <span>@length <text>Minuets</text></span>

                    }
        </dd>
        <dt class = "col-sm-2">
            Album Art
        </dt>
        <dd class="col-sm-10">
            @foreach (var t in Model.Releases)
            {
                var imageUrl = Hqub.MusicBrainz.API.Entities.CoverArtArchive.GetCoverArtUri(t.Id);
                <img height="100" width="100" src=@imageUrl />

            }
        <p>@Model.Disambiguation</p>
        </dd>
    </dl>
</div>
<div>
    <a href='javascript:history.go(-1)'>Return to search results</a>
</div>
