@model Hqub.MusicBrainz.API.Entities.Collections.RecordingList

@{
    ViewData["Title"] = "Songs";
}

<h1>Songs</h1>

<div class="alert-danger">@ViewData["error"]</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Singer
            </th>
            <th>Details</th>
            <th>
                Duration
            </th>
            <th>
                Album Art
            </th>
            <th>
                Tags
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var i in Model.Items)
        {
            <tr>
                <td>
                    <a href="/music/song/@i.Id"> @Html.DisplayFor(modelItem => i.Title)</a>
                </td>
                <td>
                    @if (!(i.Credits == null)) { 
                    @foreach (var a in i.Credits)
                    {<a href="/music/singer/@a.Artist.Id">@Html.DisplayFor(modelItem => a.Name)</a>}
                    }
                </td>
                <td>
                    @i.Disambiguation
                </td>
                <td>
                    @{
                        if (!(i.Length == null)) { 
                        var length = TimeSpan.FromMilliseconds((int)i.Length).ToString(@"mm\:ss");;
                        <span>@length </span>
                        }
                    }
                </td>
                <td>
                    @if (!(i.Releases == null)) { 
                    @foreach (var t in i.Releases)
                    {
                        var imageUrl = Hqub.MusicBrainz.API.Entities.CoverArtArchive.GetCoverArtUri(t.Id);
                        <img height="100" width="100" src=@imageUrl onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';"  />
                        
                    }
                        }
                </td>
                <td>
                    @if (!(i.Tags == null))
                    {
                        @foreach (var t in i.Tags)
                        {
                            
                            <span class="badge badge-primary">@t.Name</span>
                        }}
                </td>
            </tr>
        }
    </tbody>
</table>
